body {
  background-color: #eaeaea;
  font-family: 'Lato', sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

section {
  width: 700px;
  margin: auto;
  padding: 10px 50px;
  background-color: #fdfdfd;
  box-shadow: 0 0 50px -10px;
}

article {
  display: table;
  margin: 20px 0;
  padding: 20px;
  background-color: #a8d2a5;
  border-radius: 10px 10px 100px 10px;
  box-shadow: 0 0 7px 0 #00000052;
}

article > div {
  margin: 20px 0 0;
}

.container {
  float: left;
  display: table-row;
  width: 60%;
  height: 200px;
  overflow: auto;
  padding: 4px 7px;
  background-color: #bce0ba;
  border-radius: 5px;
  border: #81a97f 1px solid;
  box-shadow: inset 0 0 3px #81a97f;
}

.container::-webkit-scrollbar {
  width: 0;
}

.options {
  overflow: hidden;
  padding: 0 0 0 10px;
}

.description {
  margin-bottom: 20px;
}

.result {
  display: none;
  padding: 5px;
  text-align: center;
  background-color: #448af3;
  border-radius: 10px 30px;
  border: solid 2px #0b3678;
  color: #0b3678;
  font-weight: bold;
}

.notification {
  position: sticky;
  bottom: 20%;
  padding: 20px;
}
