body {
  background-color: #dce0dc;
  font-family: 'Lato', sans-serif;
  color: #263326;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

section {
  width: 700px;
  margin: auto;
  padding: 30px 50px;
  box-shadow: 0 0 50px -10px;
  background-color: #f6f9f7;
}

section > header {
  font-size: 3em;
  font-weight: bold;
}

article {
  display: table;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px 10px 100px 10px;
  box-shadow: 0 0 7px 0 #00000052;
  background-color: #b7bfb7; /* a8d2a5 */
}

article:last-child {
  margin-bottom: 0;
}

article > header {
  font-size: 1.5em;
}

article > div {
  margin: 13px 0 0;
}

.container {
  float: left;
  display: table-row;
  overflow: auto;
  padding: 4px 7px;
  width: 60%;
  height: 200px;
  border-radius: 5px;
  border: #81a97f 1px solid;
  box-shadow: inset 0 0 3px #81a97f;
  background-color: #bce0ba;
  font-weight: 300;
}

.container::-webkit-scrollbar {
  width: 0;
}

.options {
  overflow: hidden;
  padding-left: 20px;
}

.description {
  margin-bottom: 20px;
}

.result {
  display: none;
  border: solid 2px #634603;
  border-radius: 10px 30px;
  background-color: #ffba17;
  color: #634603;
  text-align: center;
  font-weight: bold;
}

.result-element {
  padding: 12px;
  font-size: 1.2em;
}

.result-body {
  position: sticky;
  bottom: 20%;
  padding: 15px;
  font-size: 1.6em;
}
