body, p {
  margin: 0;
  padding: 0;
}

header {
}

section {
  width: 600px;
  margin: auto;
  padding: 10px;
  background-color: aqua;
}

article {
  display: table;
  width: 100%;
  margin: 10px 0;
  background-color: lightblue;
}

article header {
  padding: 5px 10px;
  background-color: lightseagreen;
}

.container {
  float: left;
  display: table-row;
  margin: 10px;
  width: 60%;
  height: 200px;
  overflow: auto;
}

.result {
  display: none;
  overflow: hidden;
  margin: 10px;
  background-color: gold;
}

footer {
  display: table;
  width:100%;
  height:50px;
  background: black;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
}

footer .result {
  display: none;
  vertical-align: middle;
}
